@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply font-sans text-text-body bg-white;
  }

  *:focus-visible {
    @apply outline-2 outline-offset-2 outline-primary;
    outline-style: solid;
  }
}

@layer components {
  .container-content {
    @apply max-w-content mx-auto px-5 w-full;
  }
}
